<div class="form-control">
  <%= f.label :role, class: 'label' %>
  <%= f.select :role, nil, {}, class: 'base-select' do %>
    <option value="admin"><%= t('admin') %></option>
    <option value="editor"><%= t('editor') %></option>
  <% end %>
  <label class="label">
    <span class="label-text-alt">
      Admins can see and manage everything in the account. Editors can only see and manage the documents they create.
    </span>
  </label>
</div>
